@import url('https://fonts.googleapis.com/css2?family=Anybody:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* reset template css */
body, ul, h1, h2, p, ol, h4, h3
    {
    margin: 0;
    padding: 0;
    }
/* global container + gutter*/
 .container 
 {
    max-width: 1344px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
 }

    /* test */
    /* background: green; */
.col
{
    margin: 0 12px;
}
 .col-4 
 {
    width:calc(100% / 3 - 24px)
 }
 .col-3
 {
    width:calc(25% - 24px);
 }
 .col-8
 {
    width: calc(100* 2/3 - 24px);
 }
 .col-6
{
    width: calc(50% - 24px) ;
}
  /* manggil kelas navbar */
  #navbar
        {
            padding: 62px 0;
            width: 100%;
            position: absolute;
        }
  #navbar .container{
    justify-content: space-between;
    align-items: center;
  }
  #navbar .Logo  {
  padding: 0 12px;
      }
  #navbar .Logo img {
height: 60px;
width: auto;
  }
  #navbar .Menu {
    padding: 0 12px;
  }
  #navbar ul {
    list-style: none;
  }
  /* menu tidak masuk kontainer */
  #navbar ul::after{
    content: " ";
    display: block;
    clear: both;
  }
  #navbar ul li {
    float: left;
    margin: 0 24px;
  }
#navbar ul li a {
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 17px;
    color: white;
    text-decoration: none;
}
#navbar ul li a.active {

}
#navbar .button {
    margin: 0 12px;
}
#navbar .button a {

padding: 14px 24px;
background: white;
font-style: normal;
font-family: "Anybody";
font-weight: 400px;
align-items: center;
font-size: 16px;
line-height: 17px;
border-radius: 15px;
justify-content: center;
text-decoration: none;
display: flex;
}
#hero {
    background-color: #0D1728;
    height: 1276px;

    background-image: url(./images/Icons/Group\ 10669.png);
    background-position: -295px  -449px;
    padding: 184px;
    /* margin-bottom: 440px; */
    margin-bottom: 50px;
}
#hero .content 
{ 
    margin-top: 191px;
    padding: 0 12px;
}
#hero .content p
{ 
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 17px;
    color: white;
    text-decoration: none;
    padding: 0 12px; 
    opacity: 0.7;
    text-align: center;

}
#hero .content h1
{ 
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 138% ;
    color: white;
    text-decoration: none;
    padding: 0 12px; 
    text-align: center;
}
#hero .content .getting-started
{ 
   width: 50%;
   margin: 0 auto;
   border: 1px solid white;
   border-radius: 1000px;
   margin-bottom: 70px;
}
#hero .content .getting-started form
{
    display: flex;
    margin: 0;
}
#hero .content .getting-started input
{ 
    padding: 32px 48px;
    /* position: absolute; */
    /* width: 832.89px; */
    /* height: 1764px; */
    /* left: -295px; */
    /* top: 68.45px; */
    background: transparent;
    color: white;
    border: 0;
    flex-grow: 1;
}
#hero .content .getting-started button
{
    background: white;
    padding: 38px 38px;
    font-family: "anybody";
    font-style: normal;
    font-size: 20px;
    color: #293241;
    font-weight: 700;
    border-radius: 1000px;
    line-height: 21px;
    border: 0;
    border-radius: 1000px;
}
#customer
{
    padding-top: 300px;
    margin-bottom: 100px;
}

#customer .container h3
{
   
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 130%; /* or 62px */
    text-align: center;
    color: #293241;
    padding-top: 100px;
}
#customer .container .card 
{
    /* display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 32px; 
     width: 424px;
    height: 222px; */
    /* background: green; */
    text-align: center;
    margin: 0 12px;
   
}
#customer .container .card .star-container
{
    margin-bottom: 32px;
}
#customer .container .card p
{
font-family: 'Anybody';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 32px;
text-align: center;
color: #293241;
}
#confirm 
{
    /* display: block; */
    margin-bottom: 100px;
}
#confirm .container.content
{
    padding-top: 152px;   
    margin-bottom: 70px; 
}
#confirm .container h2
{
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 700px;
    font-size: 48px;
    text-align: center;
    color: #293241; 
} 
.container .title p
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    text-align: center;
    color: #7F848D;
    /* padding-top: 12px; */
}  
#confirm .container .card
{
    text-align: center;  
    background: #1E2746;
    border-radius: 18px;
    background-image: url(./Images/Icons/Group.png);
    margin: 0 auto;
}
#confirm .card ol li
{
font-family: 'Anybody';
font-style: normal;
font-weight: 700px;
font-size: 18px;
line-height: 32px;
color: #FFFFFF;
padding-top: 24px;
}
#confirm .card p
{
font-family: 'Anybody';
font-style: normal;
font-weight: 400px;
font-size: 16px;
line-height: 24px;
color: #D4D6D9;
padding-bottom: 24px; 
margin: 0 24px;
}
#confirm .img-vector
{
    background-image: url(./Images/Icons/Vectorg.png);
    background-size: 100% 100%;
    padding: 41px 0;
    background-position: center center;
}
/* .container .card
{
    background: #1E2746;
    border-radius: 18px; */
    /* width: 312px;
    height: 200px;
    left: 303.5px;
    top: 2491px; */

/* } */

#value
{
    margin: 0   ;
    padding: 10px;
    margin-bottom: 196px;
}
#value .container 
{
   justify-content: left;
}
#value .container .col-6 .card
{
    text-align: left;
    margin: 0;
    background: #1E2746;
    border-radius: 16px;
    /* padding: 10px 0; */
    /* background-image: url(.); */
}
#value .container .card .img-vct
{   
   justify-content: left;
    margin: 28px;
    /* padding: 20px; */
    /* background-image: url(.); */
}
 #value .container  .teks
{
  
}
 #value .container  .teks h3
{
    font-family: Anybody;
    font-size: 48px;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: left;
} 
#value .container .teks p
{
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #7F848D;
    text-align: left;

} 
#grafik 
{
    width: 1920px;
    height: 963px;
    left: -1px;
    top: 3504px;
    background-color: #293241;
    padding-top: 50px;
    margin: 0 auto;
    margin-bottom: 50px;
}
#grafik ul li::before
{
    content: "";
    display: inline-block; 
    width: 32px;
    height: 32px;
    background-image: url(./Images/Icons/Vector.png) ;
    margin-right: 18px;
    background-size: cover;
    background-repeat: no-repeat;
    /* display: flex;
    gap: 10px; */
    /* padding: 20px; */
}
#grafik .container .text h3
{
    font-family: Anybody;
    font-size: 48px;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
    padding-left: 20px;
    padding-top: 50px;
}
#grafik .container .text ul li
{
    font-family: Anybody;
    font-size: 20px;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 16px;
    color: white;
    /* padding-top: 50px; */
    padding-left: 20px;
}
#grafik .container .img-grafik
{
    position: left;
    padding-top: 50px;
    padding-right: 50px;
}
#pricing .container .teks h3
{
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 700px;
    font-size: 48px;
    line-height: 50px;
    text-align: center;
    color: #293241;
    margin-top: 149px;
}
#pricing .container .teks p
{
    font-family: 'Anybody';
    font-style: normal;
    font-weight: 400px;
    font-size: 24px;
    line-height: 25px;
    text-align: center;
    color: #7F848D;
}

    
#pricing .container .card 
{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 14px;
    gap: 10px;
    width: 72px;
    height: 72px;
    background: #EDCB50;
    border-radius: 12px;
    justify-content: left;
    /* Inside auto layout */
    
}
#pricing .container .card .cup
 {
    display: flex;
    gap: 28px;
 }
#pricing .container .card .img-cup
{
    padding: 12px;
    width: 44px;
    height: 44px;
    flex: none;
    order: 0;
    flex-grow: 0;
}
#pricing .container .card .cup  .teks-cup h3
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #EDCB50;
}
#pricing .container .card .cup  .teks-cup p
{
    display: flex;
    
}
#pricing .container .card .cup  .teks-cup span:first-child
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 42px;
    color: #293241;

}
#pricing .container .card .cup  .teks-cup span:nth-child(2)
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 42px;
    color: black; 
    /* padding-top: 10px; */
}
#pricing .container .card .cup  .teks-cup span:last-child
{
    font-family: 'Inter';
    font-style: italic;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #545B67;
    display: inline;
}
/* width: 73px;
height: 42px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 42px;
color: #293241; */


